<a href="https://colab.research.google.com/github/BhashkarChirag/Credit-Card-Fraud-Detection-/blob/main/Project_Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
1 # loading the dataset to a Pandas Dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [6]:
1 # first 5 rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [7]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
103083,68487,-1.934422,1.203459,0.033067,-0.735334,-0.522726,-0.326238,-0.722219,1.277395,-0.888523,...,0.147071,0.059291,0.188213,-0.224906,-0.156644,0.931925,-0.740243,-0.253004,3.76,0.0
103084,68488,-1.285444,1.986559,0.916337,2.743234,-0.714003,0.037372,-0.363364,0.955635,-1.638590,...,-0.036838,-0.509744,0.128240,0.273890,-0.394648,-0.086939,-0.339747,-0.025241,12.92,0.0
103085,68488,-0.000129,-3.131204,0.506807,0.150330,-2.509942,0.052333,-0.485208,0.138229,0.120389,...,0.443911,-0.198443,-0.538984,0.538052,0.006565,-0.337456,-0.089457,0.127887,673.56,0.0
103086,68488,1.146771,-0.158963,0.503270,0.611880,-0.348530,0.310625,-0.372723,0.275797,0.466993,...,-0.250705,-0.625876,0.062359,-0.310699,0.236061,0.216203,-0.011947,-0.001154,12.95,0.0
103087,68489,1.076232,-0.226640,1.333076,0.745345,-0.909784,0.379787,-0.764148,0.316139,0.580356,...,0.008168,0.233342,0.065229,0.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
1 # dataset informations
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103088 entries, 0 to 103087
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    103088 non-null  int64
 1   V1      103088 non-null  float64
 2   V2      103088 non-null  float64
 3   V3      103088 non-null  float64
 4   V4      103088 non-null  float64
 5   V5      103088 non-null  float64
 6   V6      103088 non-null  float64
 7   V7      103088 non-null  float64
 8   V8      103088 non-null  float64
 9   V9      103088 non-null  float64
 10  V10     103088 non-null  float64
 11  V11     103088 non-null  float64
 12  V12     103088 non-null  float64
 13  V13     103088 non-null  float64
 14  V14     103088 non-null  float64
 15  V15     103088 non-null  float64
 16  V16     103088 non-null  float64
 17  V17     103088 non-null  float64
 18  V18     103088 non-null  float64
 19  V19     103088 non-null  float64
 20  V20     103088 non-null  float64
 21  V21     103088 non-null  float64
 22  V22     103088 non-null  float64
 23  V23     103088 non-null  float64
 24  V24     103088 non-null  float64
 25  V25     103087 non-null  float64
 26  V26     103087 non-null  float64
 27  V27     103087 non-null  float64
 28  V28     103087 non-null  float64
 29  Amount  103087 non-null  float64
 30  Class   103087 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 24.4 MB

In [9]:
# checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [11]:
1 #distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    102855
1.0       232
Name: Class, dtype: int64

THis dataset is highly unbalanced

0 -----> Normal Transactions & 
1 -----> Fraudulent Transactions

In [12]:
1 # separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [13]:
print(legit.shape)
print(fraud.shape)

(102855, 31)
(232, 31)

In [14]:
1 # statistical measures of the data
legit.Amount.describe()

count    102855.000000
mean         96.995960
std         263.308138
min           0.000000
25%           7.200000
50%          25.740000
75%          87.900000
max       19656.530000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     232.000000
mean      115.520474
std       253.721393
min         0.000000
25%         1.000000
50%         7.595000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [17]:
1 # compare the values for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,43207.485800,-0.246030,-0.042216,0.703867,0.145847,-0.274775,0.103158,-0.102043,0.053314,-0.040689,...,0.043964,-0.032113,-0.104250,-0.037642,0.009648,0.133591,0.026048,0.000579,0.001808,96.995960
1.0,37898.655172,-6.138432,4.280104,-7.850475,4.800030,-4.349687,-1.566011,-6.505922,1.640373,-2.788880,...,0.237631,1.386881,-0.351377,-0.114210,-0.118153,0.208771,0.094034,0.536235,0.061592,115.520474

**Under-Sampling**

Build the sample dataset containing similar distribution of normal transactions and fraudulent transactions

Number of Fraudulent values ----> 232

In [19]:
legit_sample = legit.sample(n=232)

Concatenating two DataFrames

In [20]:
new_dataset = pd.concat([legit_sample,fraud], axis=0)

In [21]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
17049,28398,-2.215840,2.281421,-3.729340,0.970332,1.039645,-0.657314,1.306200,-0.221236,2.403819,...,-0.882068,-0.590533,-0.303631,-1.734844,-0.087724,-0.433492,-0.368058,-0.826935,89.99,0.0
64230,51083,-0.775911,0.895041,1.787367,1.062231,0.634943,-0.203298,1.176919,-0.674327,0.481697,...,-0.190030,0.475911,-0.068606,0.432574,-0.262188,-0.419543,-0.160429,-0.395000,1.00,0.0
53419,45968,-1.397258,-0.734056,2.455945,0.496791,-0.853161,0.481690,-0.080270,-0.029232,-0.109504,...,-0.346455,0.623770,0.477701,0.415723,0.219946,-0.138200,0.246548,-0.243377,88.30,0.0
59309,48787,1.058803,-0.520656,0.883910,-0.250208,-1.120122,-0.455052,-0.549131,0.027804,0.308493,...,0.237447,0.525808,-0.100556,0.453031,0.059727,1.458738,-0.092419,0.014679,90.43,0.0
87535,61727,-0.703716,1.056459,1.401021,-0.560493,0.186965,-0.723385,0.742389,-0.009674,-0.110995,...,-0.245669,-0.779609,-0.106508,-0.170288,-0.168675,-0.008620,0.149404,0.163763,0.89,0.0

In [22]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
102443,68207,-13.192671,12.785971,-9.906650,3.320337,-4.801176,5.760059,-18.750889,-37.353443,-0.391540,...,27.202839,-8.887017,5.303607,-0.639435,0.263203,-0.108877,1.269566,0.939407,1.00,1.0
102444,68207,-13.192671,12.785971,-9.906650,3.320337,-4.801176,5.760059,-18.750889,-37.353443,-0.391540,...,27.202839,-8.887017,5.303607,-0.639435,0.263203,-0.108877,1.269566,0.939407,1.00,1.0
102445,68207,-13.192671,12.785971,-9.906650,3.320337,-4.801176,5.760059,-18.750889,-37.353443,-0.391540,...,27.202839,-8.887017,5.303607,-0.639435,0.263203,-0.108877,1.269566,0.939407,1.00,1.0
102446,68207,-13.192671,12.785971,-9.906650,3.320337,-4.801176,5.760059,-18.750889,-37.353443,-0.391540,...,27.202839,-8.887017,5.303607,-0.639435,0.263203,-0.108877,1.269566,0.939407,1.00,1.0
102782,68357,1.232604,-0.548931,1.087873,0.894082,-1.433055,-0.356797,-0.717492,0.003167,-0.100397,...,-0.448671,-0.517568,0.012833,0.699217,0.527258,-0.322607,0.080805,0.035427,19.59,1.0

In [23]:
new_dataset['Class'].value_counts()

0.0    232
1.0    232
Name: Class, dtype: int64

In [24]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,44553.883621,-0.342145,-0.018090,0.741442,0.138108,-0.336214,-0.001307,-0.043992,0.131401,0.064142,...,0.011044,-0.062771,-0.051116,-0.064802,0.019551,0.129507,0.055424,-0.012336,-0.010854,84.990991
1.0,37898.655172,-6.138432,4.280104,-7.850475,4.800030,-4.349687,-1.566011,-6.505922,1.640373,-2.788880,...,0.237631,1.386881,-0.351377,-0.114210,-0.118153,0.208771,0.094034,0.536235,0.061592,115.520474

Splitting the data into features & targets

In [25]:
X = new_dataset.drop(columns='Class',axis=1)
Y = new_dataset['Class']

In [26]:
print(X)

         Time         V1         V2        V3        V4        V5        V6  \
17049   28398  -2.215840   2.281421 -3.729340  0.970332  1.039645 -0.657314
64230   51083  -0.775911   0.895041  1.787367  1.062231  0.634943 -0.203298
53419   45968  -1.397258  -0.734056  2.455945  0.496791 -0.853161  0.481690
59309   48787   1.058803  -0.520656  0.883910 -0.250208 -1.120122 -0.455052
87535   61727  -0.703716   1.056459  1.401021 -0.560493  0.186965 -0.723385
...       ...        ...        ...       ...       ...       ...       ...
102443  68207 -13.192671  12.785971 -9.906650  3.320337 -4.801176  5.760059
102444  68207 -13.192671  12.785971 -9.906650  3.320337 -4.801176  5.760059
102445  68207 -13.192671  12.785971 -9.906650  3.320337 -4.801176  5.760059
102446  68207 -13.192671  12.785971 -9.906650  3.320337 -4.801176  5.760059
102782  68357   1.232604  -0.548931  1.087873  0.894082 -1.433055 -0.356797

               V7         V8        V9  ...       V20        V21       V22  \
17049    1.306200  -0.221236  2.403819  ...  0.977180  -0.882068 -0.590533
64230    1.176919  -0.674327  0.481697  ...  0.288024  -0.190030  0.475911
53419   -0.080270  -0.029232 -0.109504  ... -0.725152  -0.346455  0.623770
59309   -0.549131   0.027804  0.308493  ...  0.187236   0.237447  0.525808
87535    0.742389  -0.009674 -0.110995  ... -0.045824  -0.245669 -0.779609
...           ...        ...       ...  ...       ...        ...       ...
102443 -18.750889 -37.353443 -0.391540  ... -3.493050  27.202839 -8.887017
102444 -18.750889 -37.353443 -0.391540  ... -3.493050  27.202839 -8.887017
102445 -18.750889 -37.353443 -0.391540  ... -3.493050  27.202839 -8.887017
102446 -18.750889 -37.353443 -0.391540  ... -3.493050  27.202839 -8.887017
102782  -0.717492   0.003167 -0.100397  ... -0.576274  -0.448671 -0.517568

             V23       V24       V25       V26       V27       V28  Amount
17049  -0.303631 -1.734844 -0.087724 -0.433492 -0.368058 -0.826935   89.99
64230  -0.068606  0.432574 -0.262188 -0.419543 -0.160429 -0.395000    1.00
53419   0.477701  0.415723  0.219946 -0.138200  0.246548 -0.243377   88.30
59309  -0.100556  0.453031  0.059727  1.458738 -0.092419  0.014679   90.43
87535  -0.106508 -0.170288 -0.168675 -0.008620  0.149404  0.163763    0.89
...          ...       ...       ...       ...       ...       ...     ...
102443  5.303607 -0.639435  0.263203 -0.108877  1.269566  0.939407    1.00
102444  5.303607 -0.639435  0.263203 -0.108877  1.269566  0.939407    1.00
102445  5.303607 -0.639435  0.263203 -0.108877  1.269566  0.939407    1.00
102446  5.303607 -0.639435  0.263203 -0.108877  1.269566  0.939407    1.00
102782  0.012833  0.699217  0.527258 -0.322607  0.080805  0.035427   19.59

[464 rows x 30 columns]

In [27]:
print(Y)

17049     0.0
64230     0.0
53419     0.0
59309     0.0
87535     0.0
         ...
102443    1.0
102444    1.0
102445    1.0
102446    1.0
102782    1.0
Name: Class, Length: 464, dtype: float64

Split the data into Training & Testing data

In [28]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [29]:
print(X.shape, X_train.shape, X_test.shape)

(464, 30) (371, 30) (93, 30)

Model Training

Logistic Regression

In [30]:
model = LogisticRegression()

In [32]:
1 # training the logistic Regression Model with Training data
model.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [33]:
# accuracy on training data 
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [37]:
 print('Accuracy Score on Training data : ', training_data_accuracy)

Accuracy Score on Training data :  0.9407008086253369

In [35]:
1 # accuracy on test data 
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [38]:
print('Accuracy Score on Test data : ', test_data_accuracy)

Accuracy Score on Test data :  0.9247311827956989